.speech {
  font-size: 1em;
  color: black;
}

.direction {
  background-color: lightblue;
  font-size: 1.3em;
  color: black;
}

.direction:hover {
  background-color: blue;
  color: gray;
}

.name {
  font-size: 1.5em;
  color: black;
}

.music-master {
  color: rgb(44, 8, 8);
}

.dancing-master {
  color: mediumpurple;
}

.pupil {
  color: lightpink;
}

.my-table {
  text-align: center;
  width: 500px;
}

.table-title {
  font-size: 1.5em;
}

.table-title th {
  border: 1px solid;
}

.table-row {
  border: 1px solid black;
  font-size: 0.8em;
}

.table-row td {
  border: 2px solid;
}

footer {
  display: flex;
  background-color: gray;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  height: 50px;
}

footer div a {
  padding: 4em;
}

.cleonte {
  color: orange;
}
.covielle {
  color: purple;
}
.monsieur-jordain {
  color: red;
}
